page-register {

.edittext1 {

	 margin-left: 25px; 
     margin-top: 20px;
     margin-right: 20px;
     width: 96%;
     background-color: green;

	}

	.button1 {

     text-align: center;
     margin-left: 20px; 
     margin-right: 20px;
     height: 70px;
     width: 200px;
     font-size: 50px;
     margin-top: 20px;
    
	}

	.master {
  background-color: green;
	}

}
