page-home {

	.master {
  background-color: green;
	}

	.view1 {

	width: 200px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 50px;
    text-align: center;
    color: white;
	}

	.register_button {

	width: 100px;
	height: 50px;
	float:right;
	}

	.button1 {

	float:center;
    width:80%;
    text-align: center;
    
	}

}
