page-home {

	.master {
  background-color: green;
	}

	.view1 {

	width: 200px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 50px;
    text-align: center;
    color: white;
	}

	.register_button {

	width: 100px;
	height: 50px;
	float:right;
	margin-right: 25px;
	margin-top: 20px;

	}

	.button1 {

     text-align: center;
     margin-left: 20px; 
     margin-right: 20px;
     height: 70px;
     width: 200px;
     font-size: 50px;
    
	}

	.button2 {

     text-align: center;
     margin-left: 20px; 
     margin-top: 80px;
     width: 100%;
    
	}

	.edittext1 {

	 margin-left: 25px; 
     margin-top: 20px;
     margin-right: 20px;
     width: 96%;

	}

}
